.polling-bar{
    display:inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
    z-index:1000;
  
   

}
 .polling-tabs{
    justify-content: center;
    width:100%;
    align-content: center;
    margin-top:2rem;
}
.polling-bar .polling-section-1{
    width: 100%;
    height: 100%;
    overflow-y: hidden;
   
}