.container-content{
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
   
}
.container-content .content-topic{
    margin-top: 7rem;
    font-weight: 700;
    text-align:center;
    justify-content:center;
    
 }
.container-content .footer{
    position:absolute;
    bottom:0;
    width: 100%;
    height:60px;   /* Height of the footer */
    text-align:center;
    justify-content:center;
    font-weight: 700;
   
    
}
.footer .link{
  color: rgba(84, 92, 99, 0.699);
}
 .link :hover{
  transform: scale(1.0);
  color: #FFF;
}

 .container-content .content-subtopic{
    margin-top: 1.5rem;
 }
.container-content .content-buttons{
   margin-top: 8rem;
}
.content-subtopic .typewriter  {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(45, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }
.landing-buttons{
    border-radius: .5rem;
    height: 50px;
    font-weight: 700;
    font-size: medium;
    text-align: center;
    justify-content: center;
    width:100%;
}


