 .login-page{
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  justify-content: center;
 }

.login-page .normal-login{
  margin-top: 13rem;
}
.login-page .alert-registration{
margin-top: 0.5rem;
}
 

 .login-form {
    max-width: 300px;
  }
 .login-form-forgot {
    float: right;
  }
 .ant-col-rtl .login-form-forgot {
    float: left;
  }
   .login-form-button {
    width: 100%;
  }
  .site-statistic-demo-card{
    margin-top: 4rem;
    justify-content: center;
    align-items: center;
  }

.intro-card{
    border-radius: 25px;
    border: 2px hidden #7a7c77;
    padding: 20px;
    

}
.card-header{
  font-weight: 700;
  font-size: large;
}