.poll-activity{
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
    z-index:1000;
   

}
 .poll-menu{
    padding-left: 64px;
    width:100%;
    align-content: center;
    padding-right:64px;
    margin-top:2rem;
}
.poll-activity .poll-section-1{
    width: 100%;
    height: 100%;
    overflow-y: hidden;
   
}