.poll{
    display:block;
    width: 600px;
    
}
.poll .question{
    font-weight:700;
    font-size:large;
    text-transform:capitalize;
}
.poll .options{
    margin-top: 20px;
    display: block;
    line-height: 1.7;
    font-size: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.poll .poll-results{
    margin-top: 20px;
    display: block;
    line-height: 1.7;
    font-size: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
    max-width: 75%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-transform:capitalize;
}
.poll-results .results{
    margin-top: 5px;
    margin-bottom: 15px;
    max-width: 75%;
    font-weight: bolder;
    font-size: larger;
   
}
.results .result-choice{
font-size:17px;
font-weight: lighter;
}
 .percent{
    font-size: small;
}
.pg-chart{
    border:0px solid black
}